<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">ProAgil Eventos</a>
    <button
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseBasic"
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      [collapse]="isCollapsed"
      [isAnimated]="true"
      id="navbarsExampleDefault"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" routerLink="eventos/lista">
            Eventos
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" routerLink="palestrantes"
            >Palestrantes</a
          >
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" aria-current="page" routerLink="contatos"
            >Contatos</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
